.home-container{
    border: 1px solid ;
    height: 600px;
    background-color: white;
    border-radius: 10px;
}

.Profile{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 5rem;
}

.title-name{
    border-radius: 10px;
    color: darkblue;
    border: 1px solid ;
    background-color: lightgray;
}

.home-introduce{
    margin-top: 2rem;
}